<form (ngSubmit)="onSubmit()" [formGroup]="certificationForm" class="w-full">
  <div class="flex flex-col md:flex-row gap-4 items-start">
    <div class="flex flex-col items-center md:items-start gap-4">
      <input
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        class="hidden"
        type="file"
      />
      <div
        (click)="fileInput.click()"
        class="relative w-41 h-41 flex items-center justify-center rounded-lg cursor-pointer transition image-upload-box"
      >
        @if (imagePreview()) {
          <img [src]="imagePreview()" class="w-full h-full object-cover rounded-lg" alt="Prévisualisation"/>
        } @else {
          <mat-icon class="text-4xl text-gray-400">image</mat-icon>
          <span
            class="absolute bottom-2 left-0 w-full text-xs text-center text-gray-400 font-medium">Importer une image</span>
        }
      </div>
    </div>

    <div class="flex-1 grid grid-cols-1 md:grid-cols-3 gap-4">
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="certificationName" matInput placeholder="Intitulé de la certification" required>
      </mat-form-field>
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="school" matInput placeholder="École/Organisme" required>
      </mat-form-field>
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="location" matInput placeholder="Lieu" required>
      </mat-form-field>

      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input
          (click)="pickerStart.open()"
          (focus)="pickerStart.open()"
          [matDatepicker]="pickerStart"
          [readonly]="true"
          formControlName="startDate"
          matInput
          placeholder="Date de début"
        />
        <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input
          (click)="pickerEnd.open()"
          (focus)="pickerEnd.open()"
          [matDatepicker]="pickerEnd"
          [min]="certificationForm.get('startDate')?.value || null"
          [readonly]="true"
          formControlName="endDate"
          matInput
          placeholder="Date de fin"
        />
        <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="flex justify-end mt-6">
    <button [disabled]="certificationForm.invalid" matButton="filled" type="submit">
      Ajouter
    </button>
  </div>
</form>
