<form
  (submit)="onSubmit()"
  [formGroup]="certificationForm"
  class="h-full w-full flex flex-col justify-between gap-4"
>
  <div class="flex-1 flex flex-col gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <input formControlName="certificationName" matInput placeholder="Intitulé du diplôme"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input formControlName="school" matInput placeholder="Etablissement"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input formControlName="location" matInput placeholder="Lieu"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input [matDatepicker]="startPicker" formControlName="startDate" matInput placeholder="Date de début"/>
      <button (click)="startPicker.open()" mat-icon-button matSuffix type="button">
        <mat-icon>calendar_month</mat-icon>
      </button>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input [matDatepicker]="endPicker" [min]="certificationForm.get('startDate')?.value || null"
             formControlName="endDate" matInput
             placeholder="Date de fin"/>
      <button (click)="endPicker.open()" mat-icon-button matSuffix type="button">
        <mat-icon>calendar_month</mat-icon>
      </button>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <div class="w-full">
      <input
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        class="hidden"
        type="file"
      />
      <div
        (click)="fileInput.click()"
        class="h-[12rem] w-full rounded-xl border border-black/10 bg-black/5 flex items-center justify-center cursor-pointer"
      >
        @if (imagePreview()) {
          <img [src]="imagePreview()!" class="h-full w-full object-cover rounded-xl"/>
        } @else {
          <mat-icon fontIcon="image" class="opacity-40 text-5xl"></mat-icon>
        }
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <button matButton="filled" type="submit">
      <mat-icon>add</mat-icon>
      Ajouter
    </button>
  </div>
</form>
