<form
  (submit)="onSubmit()"
  [formGroup]="projectForm"
  class="h-full w-full flex flex-col justify-between gap-4"
>
  <div class="flex-1 flex flex-col gap-4">
    <div class="w-full">
      <label class="block text-sm font-medium text-gray-700 mb-2">Projet</label>
      <mat-form-field appearance="outline" class="w-full">
        <mat-select formControlName="projectId" class="unified-field" placeholder="Sélectionner un projet">
          @for (project of unlinkedProjects(); track project.id) {
            <mat-option [value]="project.id">
              {{ project.title }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-full grid grid-cols-2 gap-2">
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2">Date de début</label>
        <mat-form-field appearance="outline" class="w-full">
          <input [matDatepicker]="startPicker" formControlName="startDate" matInput placeholder="Début" readonly (click)="startPicker.open()"/>
          <button (click)="startPicker.open()" mat-icon-button matSuffix type="button">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2">Date de fin</label>
        <mat-form-field appearance="outline" class="w-full">
          <input
            [matDatepicker]="endPicker"
            [min]="projectForm.get('startDate')?.value || null"
            formControlName="endDate"
            matInput
            placeholder="Fin"
            readonly
            (click)="endPicker.open()"
          />
          <button (click)="endPicker.open()" mat-icon-button matSuffix type="button">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <button matButton="filled" type="submit">
      <mat-icon>add</mat-icon>
      Ajouter
    </button>
  </div>
</form>
