<div class="fixed bottom-4 left-1/2 -translate-x-1/2 z-[9999] flex flex-col-reverse gap-2">
  @for (toast of toasts(); track toast.id) {
    @if (toast.type === 'achievement' && toast.achievement) {
      <div
        [class]="'bg-white border border-neutral-200 flex flex-col overflow-hidden rounded-lg shadow-lg min-w-[20rem] max-w-[32rem] '
        + (toast.removing ? 'animate-slide-down-out' : 'animate-slide-up-in')"
      >
        <div class="flex items-center gap-3 px-4 py-3">
          <div class="flex-1 flex flex-col gap-1">
            <div class="text-sm font-medium text-neutral-900">Succès déverrouillé : {{ toast.achievement.label }}</div>
            @if (toast.achievement.description) {
              <div class="text-xs text-neutral-600">{{ toast.achievement.description }}</div>
            }
          </div>
          <div
            class="flex items-center justify-center w-12 h-12 rounded-lg"
            [style.background-color]="hexWithAlpha(toast.achievement.color, 0.1)"
          >
            <mat-icon class="!text-2xl !leading-none"
                      [style.color]="toast.achievement.color">{{ toast.achievement.icon }}
            </mat-icon>
          </div>
          <button
            (click)="remove(toast.id)"
            class="flex items-center justify-center cursor-pointer opacity-60 hover:opacity-100"
            type="button"
          >
            <mat-icon class="!w-5 !h-5 !text-[20px]">close</mat-icon>
          </button>
        </div>
        @if (toast.duration) {
          <div class="h-1 w-full bg-neutral-100">
            <div
              class="h-full bg-neutral-400 progress-bar"
              [style.animation-duration]="toast.duration + 'ms'"
            ></div>
          </div>
        }
      </div>
    } @else {
      <div
        [class]="getToastConfig(toast.type).bgClass + ' flex flex-col overflow-hidden rounded-lg shadow-xs min-w-[20rem] max-w-[32rem] ' + (toast.removing ? 'animate-slide-down-out' : 'animate-slide-up-in')"
      >
        <div class="flex items-center gap-3 px-4 py-3">
          <mat-icon class="!w-5 !h-5 !text-[20px]"
                    [ngClass]="getToastConfig(toast.type).iconClass">{{ getToastConfig(toast.type).icon }}
          </mat-icon>
          <span class="flex-1 text-sm">{{ toast.message }}</span>
          <button
            (click)="remove(toast.id)"
            class="flex items-center justify-center cursor-pointer opacity-60"
            type="button"
          >
            <mat-icon class="!w-5 !h-5 !text-[20px]">close</mat-icon>
          </button>
        </div>
        @if (toast.duration) {
          <div class="h-1 w-full bg-black/10">
            <div
              class="h-full progress-bar"
              [class]="toast.type === 'success' ? 'bg-green-600' : toast.type === 'error' ? 'bg-red-700' : toast.type === 'warning' ? 'bg-orange-700' : 'bg-blue-700'"
              [style.animation-duration]="toast.duration + 'ms'"
            ></div>
          </div>
        }
      </div>
    }
  }
</div>
