@keyframes slide-up-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slide-up-in {
  animation: slide-up-in 0.3s ease-out;
}

.animate-slide-down-out {
  animation: slide-down-out 0.3s ease-out forwards;
}

.progress-bar {
  animation: progress linear forwards;
}
