:host ::ng-deep {
  .mat-mdc-form-field {
    max-width: 100%;

    .mat-mdc-text-field-wrapper,
    .mat-mdc-form-field-infix,
    .mat-mdc-form-field-infix input {
      max-width: 100%;
    }
  }
}
