@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu-dropdown {
  animation: slide-down 0.2s ease-out;
}

.mobile-menu-item {
  app-menu-item a {
    width: 100%;
    display: block;
  }
}
