@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #081c36,
    20: #1f314c,
    25: #2a3c58,
    30: #364764,
    35: #425370,
    40: #4e5f7d,
    50: #667897,
    60: #8091b1,
    70: #9aaccd,
    80: #b5c7e9,
    90: #d5e3ff,
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #26190e,
    20: #3d2d21,
    25: #48382b,
    30: #554336,
    35: #614f41,
    40: #6e5b4c,
    50: #887364,
    60: #a38d7d,
    70: #bea796,
    80: #dbc2b0,
    90: #f8decb,
    95: #ffede2,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001f23,
    20: #00363c,
    25: #004249,
    30: #004f57,
    35: #005b65,
    40: #006973,
    50: #008491,
    60: #369eab,
    70: #56b9c7,
    80: #74d5e3,
    90: #c6c6c6,
    95: #cef8ff,
    98: #ecfcff,
    99: #f6feff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1f1b14,
    20: #343028,
    25: #3f3b32,
    30: #4b463d,
    35: #575249,
    40: #635e54,
    50: #7c766c,
    60: #969085,
    70: #b1aa9f,
    80: #cdc5ba,
    90: #eae1d5,
    95: #f8f0e3,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
    4: #110e07,
    6: #16130c,
    12: #231f18,
    17: #2d2a22,
    22: #39342c,
    24: #3d3930,
    87: #e1d9cd,
    92: #f0e7db,
    94: #f5ede0,
    96: #fbf2e6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1a1a,
    20: #2e2e2e,
    25: #383838,
    30: #424242,
    35: #4d4d4d,
    40: #595959,
    50: #737373,
    60: #8c8c8c,
    70: #a6a6a6,
    80: #bfbfbf,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fafafa,
    99: #fdfdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410006,
    20: #670210,
    25: #78101a,
    30: #881e24,
    35: #982a2e,
    40: #a83639,
    50: #c94e4f,
    60: #ea6766,
    70: #ff8986,
    80: #ffb3b0,
    90: #ffdad8,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$secondary-palette: map.merge(map.get($_palettes, secondary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

@function _high-contrast-value($light, $dark, $theme-type) {
  @if ($theme-type == light) {
    @return $light;
  }
  @if ($theme-type == dark) {
    @return $dark;
  }
  @if ($theme-type == color-scheme) {
    @return light-dark(#{$light}, #{$dark});
  }

  @error 'Unknown theme-type #{$theme-type}. Expected light, dark, or color-scheme';
}

@mixin high-contrast-overrides($theme-type) {
  @include mat.theme-overrides((
    primary: _high-contrast-value(#031731, #eaf0ff, $theme-type),
    on-primary: _high-contrast-value(#ffffff, #000000, $theme-type),
    primary-container: _high-contrast-value(#1a2c47, #b1c3e5, $theme-type),
    on-primary-container: _high-contrast-value(#d9e5ff, #000b1f, $theme-type),
    primary-fixed: _high-contrast-value(#384a66, #d5e3ff, $theme-type),
    primary-fixed-dim: _high-contrast-value(#21334e, #4e5f7d, $theme-type),
    on-primary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
    on-primary-fixed-variant: _high-contrast-value(#ffffff, #00112a, $theme-type),
    secondary: _high-contrast-value(#38291d, #ffede1, $theme-type),
    on-secondary: _high-contrast-value(#ffffff, #000000, $theme-type),
    secondary-container: _high-contrast-value(#574638, #d7bead, $theme-type),
    on-secondary-container: _high-contrast-value(#ffffff, #140902, $theme-type),
    secondary-fixed: _high-contrast-value(#574638, #f8decb, $theme-type),
    secondary-fixed-dim: _high-contrast-value(#3f2f23, #dbc2b0, $theme-type),
    on-secondary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
    on-secondary-fixed-variant: _high-contrast-value(#ffffff, #1a0e05, $theme-type),
    tertiary: _high-contrast-value(#001b1e, #cbf8ff, $theme-type),
    on-tertiary: _high-contrast-value(#ffffff, #000000, $theme-type),
    tertiary-container: _high-contrast-value(#003137, #70d1df, $theme-type),
    on-tertiary-container: _high-contrast-value(#9ef2ff, #000e10, $theme-type),
    tertiary-fixed: _high-contrast-value(#00515a, #93f1ff, $theme-type),
    tertiary-fixed-dim: _high-contrast-value(#00393f, #74d5e3, $theme-type),
    on-tertiary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
    on-tertiary-fixed-variant: _high-contrast-value(#ffffff, #001417, $theme-type),
    background: _high-contrast-value(#fff8f1, #16130c, $theme-type),
    on-background: _high-contrast-value(#1f1b14, #eae1d5, $theme-type),
    surface: _high-contrast-value(#fff8f1, #16130c, $theme-type),
    surface-dim: _high-contrast-value(#bfb8ac, #16130c, $theme-type),
    surface-bright: _high-contrast-value(#fff8f1, #544f46, $theme-type),
    surface-container-low: _high-contrast-value(#f8f0e3, #231f18, $theme-type),
    surface-container-lowest: _high-contrast-value(#ffffff, #000000, $theme-type),
    surface-container: _high-contrast-value(#eae1d5, #343028, $theme-type),
    surface-container-high: _high-contrast-value(#dbd3c7, #3f3b32, $theme-type),
    surface-container-highest: _high-contrast-value(#cdc5ba, #4b463d, $theme-type),
    on-surface: _high-contrast-value(#000000, #ffffff, $theme-type),
    shadow: _high-contrast-value(#000000, #000000, $theme-type),
    scrim: _high-contrast-value(#000000, #000000, $theme-type),
    surface-tint: _high-contrast-value(#4e5f7d, #4e5f7d, $theme-type),
    inverse-surface: _high-contrast-value(#343028, #eae1d5, $theme-type),
    inverse-on-surface: _high-contrast-value(#ffffff, #000000, $theme-type),
    outline: _high-contrast-value(#60000d, #ffecea, $theme-type),
    outline-variant: _high-contrast-value(#8b2026, #ffadaa, $theme-type),
    error: _high-contrast-value(#60000d, #ffecea, $theme-type),
    on-error: _high-contrast-value(#ffffff, #000000, $theme-type),
    error-container: _high-contrast-value(#8b2026, #ffadaa, $theme-type),
    on-error-container: _high-contrast-value(#ffffff, #220002, $theme-type),
    surface-variant: _high-contrast-value(#ffdad8, #881e24, $theme-type),
    on-surface-variant: _high-contrast-value(#000000, #ffffff, $theme-type),
  ))
}
