@use './material';

@import "../../node_modules/tailwindcss";

@theme static {
  --color-primary: var(--mat-sys-primary);
  --color-secondary: var(--mat-sys-secondary);

  --font-sans: Manrope, system-ui, -apple-system, sans-serif;
  --font-serif: Lora, Georgia, serif;
  --font-mono: 'JetBrains Mono', 'Courier New', monospace;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Manrope, system-ui, -apple-system, sans-serif;
}

h1, h2 {
  font-family: Lora, Georgia, serif;
}
