.compact-filters {
  ::ng-deep .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      padding-bottom: 0;
    }

    .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 32px;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-select-placeholder {
    color: #41414170 !important;
    font-size: 0.875rem !important;
  }
}
