<section class="max-w-4xl mx-auto px-8 space-y-8">
  <h2 class="text-2xl font-semibold text-neutral-800">A propos de moi</h2>
  <div class="text-neutral-700 leading-relaxed space-y-4 text-sm">
    <p>
      Derrière la technique, il y a l'humain que je suis. Je vis à Marseille, je suis dans la vingtaine (la fin), et je
      cohabite avec deux
      chats, Bianco et Pistache, dont je pourrais facilement parler plus longtemps que prévu si on me tend la perche.
    </p>
    <p>
      En dehors du développement web, je pratique la boxe thaï en club. C'est une discipline qui m'aide à me dépasser
      physiquement, à travailler la technicité et la maîtrise des mouvements, et j'aime l'énergie de groupe qui se
      crée dans un club de sport. C'est un milieu où chacun trouve sa place, quel que soit son parcours, son niveau ou
      sa condition physique, et où l'on ressent une vraie bienveillance.
    </p>
    <p>
      Dans un autre registre, je me retrouve aussi dans les échecs. Chaque partie est différente, il faut élaborer des
      tactiques, rester observateur et réactif. J'y vois parfois un parallèle avec le développement : on connaît des
      patterns, mais au fil de la partie, il faut trouver les solutions les plus efficaces pour avancer.
    </p>
    <p>
      J'aime aussi passer du temps avec mon entourage et jouer à des jeux vidéo ou à des jeux de société. Le jeu
      rassemble, crée des moments simples mais authentiques, et offre toujours une petite dose de stimulation mentale
      sans prise de tête.
    </p>
    <p>
      Dès que possible, je vais me ressourcer dans la nature. J'aime partir en randonnée, découvrir de beaux
      paysages, et j'ai toujours plaisir à être au contact des animaux lorsque l'occasion s'y prête. J'ai un goût pour
      l'aventure, et j'aimerais tenter le bivouac un jour.
    </p>
    <p>
      Sur un plan plus professionnel, j'ai eu l'occasion de travailler dans plusieurs domaines, mais c'est dans le
      développement web, les lignes de code, la résolution de problèmes et la réflexion autour des données
      que je m'épanouis le plus.
    </p>
  </div>
  <div class="flex justify-center">
    <button (click)="navigateToCareer()" matButton="filled" class="primary">
      <mat-icon>timeline</mat-icon>
      Découvrir mon parcours
    </button>
  </div>
</section>
