::ng-deep .messages-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-mdc-tab-header {
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    padding-left: 1.25rem;
  }

  .mat-mdc-tab-labels {
    justify-content: flex-start;
  }

  .mat-mdc-tab-body-wrapper {
    flex: 1;
    background-color: #f5f5f5;
  }

  .mat-mdc-tab-body {
    height: 100%;
  }

  .mat-mdc-tab-body-content {
    height: 100%;
    overflow: auto;
  }
}
