.header-menu {
  background-image: url('/assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-menu {
  background-image: url('/assets/footer-menu-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
