@if (data.title) {
  <h2 mat-dialog-title>{{ data.title }}</h2>
}
<mat-dialog-content>
  <ng-content/>
  @if (data.message) {
    <p>{{ data.message }}</p>
  }
</mat-dialog-content>
@if (data.actions?.length) {
  <mat-dialog-actions align="end">
    @for (action of data.actions; track action.label) {
      <button [matButton]="action.style || 'text'"
              [color]="action.color || 'primary'"
              (click)="close(action.value)">
        {{ action.label }}
      </button>
    }
  </mat-dialog-actions>
}
