<a
  #rla="routerLinkActive"
  [routerLinkActiveOptions]="{ exact: false }"
  [routerLink]="menuEntry().path"
  class="flex items-center text-sm transition-colors duration-200 px-3 py-2 rounded-lg"
  [ngClass]="{
    'text-primary font-semibold bg-primary/10': rla.isActive,
    'text-neutral-700 hover:text-neutral-900 hover:bg-neutral-50 font-medium': !rla.isActive
  }"
  routerLinkActive
>
  @if (menuEntry().icon) {
    <mat-icon
      class="text-[20px] leading-none -mt-px mr-3"
      [ngClass]="rla.isActive ? 'text-primary' : 'text-neutral-400'"
    >
      {{ menuEntry().icon }}
    </mat-icon>
  }
  <span class="truncate">{{ menuEntry().title }}</span>
</a>
