<footer class="bg-neutral-100 border-t border-neutral-200">
  <div class="max-w-6xl mx-auto px-8 py-6">
    <div class="flex flex-col gap-6">
      <div class="flex flex-col lg:flex-row items-center justify-between gap-4">
        <div class="text-sm text-neutral-600 text-center lg:text-left">
          <p>© {{ currentYear }} Portfolio Mohand Boudjema - v{{ version }}</p>
        </div>

        <app-status-indicators/>
      </div>

      <div class="flex flex-wrap justify-center lg:justify-start gap-2 text-xs">
        <a routerLink="/mentions-legales" class="text-neutral-600 hover:text-primary transition-colors">Mentions
          légales</a>
        <span class="text-neutral-400">•</span>
        <a routerLink="/politique-de-confidentialite" class="text-neutral-600 hover:text-primary transition-colors">Politique
          de
          confidentialité</a>
        <span class="text-neutral-400">•</span>
        <a routerLink="/cgu" class="text-neutral-600 hover:text-primary transition-colors">CGU</a>
      </div>
    </div>
  </div>
</footer>
