<div class="flex flex-col h-full">
  <div class="sticky top-0 z-10 flex items-center justify-between min-h-[5rem] px-5 border-b border-neutral-200 bg-white">
    <h1 class="text-2xl font-semibold text-neutral-800">Compétences</h1>
    <button (click)="openPanel()" matButton="filled">
      <mat-icon>add</mat-icon>
      Ajouter une compétence
    </button>
  </div>
  <div class="flex flex-col flex-1 gap-8 bg-neutral-100 p-8">
    @for (category of categories; track category) {
      @if (getSkillsByCategory(category).length > 0) {
        <section class="flex flex-col gap-4">
          <div class="flex items-center gap-2">
            <div class="flex items-center justify-center w-12 h-12 rounded-lg">
              <mat-icon class="!text-2xl !leading-none"
                        [style.color]="categoryMeta[category].color">{{ categoryMeta[category].icon }}
              </mat-icon>
            </div>
            <div>
              <h2 class="text-xl font-semibold text-neutral-800">{{ categoryMeta[category].label }}</h2>
              <p class="text-sm text-neutral-600">{{ categoryMeta[category].subtitle }}</p>
            </div>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3">
            @for (skill of getSkillsByCategory(category); track skill.id) {
              <div class="h-full">
                <app-skill-item
                  [skill]="skill"
                  [categoryColor]="categoryMeta[category].color"
                  [consoleMode]="true"
                  (edit)="openEditPanel(skill)"/>
              </div>
            }
          </div>
        </section>
      }
    }
  </div>
</div>


<app-side-panel (closed)="onCloseRequested()" [isOpen]="panelOpen()">
  <app-skill-form [skill]="editingSkill()" (saved)="onCloseRequested()"/>
</app-side-panel>
