<form (ngSubmit)="onSubmit()" [formGroup]="jobForm" class="w-full">
  <div class="flex flex-col md:flex-row gap-4 items-start">
    <div class="flex flex-col items-center md:items-start gap-4">
      <input
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        class="hidden"
        type="file"
      />
      <div
        (click)="fileInput.click()"
        class="relative w-41 h-41 flex items-center justify-center border border-gray-500 rounded-lg cursor-pointer hover:bg-gray-100 transition"
      >
        @if (imagePreview()) {
          <img [src]="imagePreview()" class="w-full h-full object-cover rounded-lg" alt="Prévisualisation"/>
        } @else {
          <mat-icon class="text-4xl text-gray-400">image</mat-icon>
          <span
            class="absolute bottom-2 left-0 w-full text-xs text-center text-gray-400 font-medium">Importer une image</span>
        }
      </div>
    </div>

    <div class="flex-1 grid grid-cols-1 md:grid-cols-3 gap-4">
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="title" matInput placeholder="Intitulé du poste" required>
      </mat-form-field>
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="company" matInput placeholder="Entreprise" required>
      </mat-form-field>
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input formControlName="location" matInput placeholder="Lieu">
      </mat-form-field>

      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input
          (click)="pickerStart.open()"
          (focus)="pickerStart.open()"
          [matDatepicker]="pickerStart"
          [readonly]="true"
          formControlName="startDate"
          matInput
          placeholder="Date de début"
        />
        <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field appFormFieldStyle appearance="outline" class="w-full">
        <input
          (click)="pickerEnd.open()"
          (focus)="pickerEnd.open()"
          [matDatepicker]="pickerEnd"
          [min]="jobForm.get('startDate')?.value || null"
          [readonly]="true"
          formControlName="endDate"
          matInput
          placeholder="Date de fin"
        />
        <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>

      <mat-form-field appFormFieldStyle appearance="outline" class="w-full md:col-span-2">
        <input (keydown.enter)="onMissionInputKeyup($event)"
               [formControl]="missionFormControl"
               matInput placeholder="Nouvelle mission"/>
        <button (click)="addMission()" matIconButton matSuffix type="button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>


  </div>

  <div>
    @if (missions().length > 0) {
      <ul class="list-disc pl-4 mt-2">
        @for (m of missions(); let i = $index; track i) {
          <li class="flex items-center gap-2 py-1">
            <span>{{ m }}</span>
            <button matIconButton type="button" (click)="removeMission(i)">
              <mat-icon>close</mat-icon>
            </button>
          </li>
        }
      </ul>
    }
  </div>
  <!-- Bouton submit -->
  <div class="flex justify-end mt-6">
    <button [disabled]="jobForm.invalid" matButton="filled" type="submit">
      Ajouter
    </button>
  </div>
</form>
