.hero-section {
  background-color: color-mix(in srgb, var(--color-primary) 50%, black);
}

.hero-button-primary {
  background-color: color-mix(in srgb, var(--color-primary) 50%, black) !important;
  color: white !important;
  border: 0.5px solid white !important;

  &:hover {
    background-color: color-mix(in srgb, var(--color-primary) 60%, black) !important;
  }
}

.hero-button-secondary {
  background-color: white !important;
  color: var(--color-primary) !important;
  border: 0.5px solid white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
}
