.image-upload-box {
  border: 2px solid transparent;
  background: #f3f6fd80;
  transition: border-color 0.2s, border-width 0.2s, background 0.2s;

  &:hover {
    border-color: var(--mat-sys-color-primary, #1976D2);
    background: #f3f6fd;
  }
}

::ng-deep .mat-mdc-select-placeholder {
  color: #41414170 !important;
  font-size: 0.875rem !important;
}
