<form (submit)="onSubmit()" [formGroup]="eventForm" class="h-full w-full flex flex-col gap-4 justify-between gap-4">

  <div class="flex items-center w-full px-1 mb-4 gap-4 select-none">
    @for (s of stepsMeta; track s.icon; let i = $index) {
      <div
        class="w-12 h-12 shrink-0 rounded-full flex items-center justify-center text-white"
        role="img"
        [attr.aria-label]="s.label + (step()===i ? ' (en cours)' : '')"
        [attr.aria-current]="step()===i ? 'step' : null"
        [style.backgroundColor]="i <= step() ? 'var(--color-secondary)' : 'var(--color-neutral-300)'">
        <mat-icon>{{ s.icon }}</mat-icon>
      </div>

      @if (i < stepsMeta.length - 1) {
        <div class="h-0.5 flex-1"
             [style.backgroundColor]="i < step() ? 'var(--color-secondary)' : 'var(--color-neutral-300)'">
        </div>
      }
    }
  </div>


  <div class="flex-1 overflow-auto">

    @switch (step()) {

      @default {
        <div class="flex flex-col gap-4" formGroupName="step1">
          <mat-form-field appearance="outline" class="w-full">
            <input formControlName="title" matInput placeholder="Nom du projet">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
      <textarea
        formControlName="description"
        matInput
        placeholder="Description"
        rows="3"
      ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
      <textarea
        formControlName="context"
        matInput
        placeholder="Contexte"
        rows="3"
      ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
      <textarea
        formControlName="collaboration"
        matInput
        placeholder="Collaboration"
        rows="3"
      ></textarea>
          </mat-form-field>


        </div>
      }
      @case (1) {
        <div class="flex flex-col gap-4" formGroupName="step2">

          <mat-form-field appearance="outline" class="w-full md:col-span-2">
            <mat-select formControlName="projectType" multiple aria-label="Typologie de projet">
              <mat-select-trigger>
                @if ((s2.get('projectType')?.value?.length ?? 0) === 0) {
                  <span>Typologie de projet…</span>
                } @else {
                  <span class="text-sm">{{ s2.get('projectType')?.value.join(', ') }}</span>
                }
              </mat-select-trigger>

              @for (opt of projectTypeOptions; track opt) {
                <mat-option [value]="opt">{{ opt }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="w-full flex items-center justify-between">
            <div class="font-medium">Périmètre d’usage</div>
            <mat-button-toggle-group
              formControlName="scope"
              aria-label="Périmètre d’usage">
              @for (opt of scopeOptions; track opt) {
                <mat-button-toggle [value]="opt">{{ opt }}</mat-button-toggle>
              }
            </mat-button-toggle-group>
          </div>

          <div class="w-full flex items-center justify-between">
            <div class="mb-2 font-medium">Type de marché</div>
            <mat-button-toggle-group
              formControlName="market"
              aria-label="Type de marché">
              @for (opt of marketOptions; track opt) {
                <mat-button-toggle [value]="opt">{{ opt }}</mat-button-toggle>
              }
            </mat-button-toggle-group>
          </div>

          <mat-form-field class="chips-field" appearance="outline">
            <mat-chip-grid #chipGrid aria-label="Ajouter un outil" [formControl]="toolsCtrl">
              @for (keyword of keywords(); track keyword) {
                <mat-chip-row (removed)="removeKeyword(keyword)">
                  {{ keyword }}
                  <button matChipRemove aria-label="Supprimer">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>

            <input
              placeholder="Ouitls utilisés"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-form-field>


        </div>
      }
      @case (2) {
        <div class="flex flex-col gap-4">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput placeholder="Ajouter une mission" [formControl]="missionControl"
                   (keydown.enter)="addMission($event)"/>
            <mat-icon matSuffix>add</mat-icon>
          </mat-form-field>

          <div class="divide-y divide-slate-200">
            @for (m of missions(); track m; let i = $index) {
              <div class="flex items-center justify-between py-2">
                <div class="text-base text-slate-800 truncate pr-4">{{ m }}</div>
                <button type="button" class="text-slate-500 hover:text-red-600 cursor-pointer"
                        (click)="removeMission(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            }
          </div>
        </div>
      }
      @case (3) {
        <div>step 4</div>
      }
    }
  </div>


  <div class="flex items-center justify-between">
    @if (step() > 0) {
      <button type="button" matButton="text" (click)="prev()">Précédent</button>
    } @else {
      <span></span>
    }

    @if (step() < stepsMeta.length - 1) {
      <button
        type="button"
        matButton="filled"
        (click)="next()"
        [disabled]="(step()===0 && s1.invalid) || (step()===1 && s2.invalid)">
        Suivant
      </button>
    } @else {
      <button type="submit" matButton="filled">
        <mat-icon class="mr-1">add</mat-icon>
        Ajouter
      </button>
    }
  </div>

</form>
